* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fb;
    color: #222;
    line-height: 1.6;
}

header {
    background: #111827;
    color: white;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background: #2563eb;
}

.hero {
    padding: 70px 20px;
    text-align: center;
    background: #2563eb;
    color: white;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    max-width: 650px;
    margin: auto;
    opacity: 0.9;
}

section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom:  30px;
    font-size: 28px;
    font-weight: bold;
    color: #111827;
}

.about-text {
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}

.Skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Skills-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.Skills-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
.project-card {
    background: white;
    padding: 25px;
    margin: 20px auto;
    border-radius: 12px;
    border: 1px solid #ddd;
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.project-card p {
    font-size: 15px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}
 form input{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 6px;
 }

 button{
    width: 100%;
    padding: 12px;
    color:#ddd;
    background-color:#000;
    transition: 0.3s ease; 

 }
 button:hover{
    transform:translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
 }

 footer{
    text-align: center;
    background-color: #000;
    color:#ddd;

 }